.auth{
  text-align: right;
  .button-connect{
    height: 38px;
    width: 40px;
    background-image: url('images/profil.png');
    background-repeat:no-repeat;
    background-size: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.modal-box{
  position: fixed;
  z-index: 1000;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 380px;
  padding: 35px 40px;
  border: 1px solid #000;
  background-color: #ffffff;
  text-align: center;
  .btn{
    margin: 15px 0px 12px;
  }
  &.connect{
    height:290px;
    a{
      color:#000;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  &.add-user{
    height:415px;
    
  }
  .close-modal{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 15px;
    width: 15px;
    background-image: url('images/close.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
  }
}

